/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url("https://use.typekit.net/uio5vso.css");

/*font-family: "lust", serif;
font-weight: 700;
font-style: normal;

font-family: "lust-didone-fine", sans-serif;
font-weight: 100;
font-style: normal;*/

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
  font-size: calc(10px + 1vw);
	background-color: #FEF8A6;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #0093F5;
}


/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

         /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


/* Custom shapes*/

:root {
  --notcircle: "M63.2,1.43c38.76,4.5,81.55,46.01,74.46,85.33c-6.78,37.56-57.8,66.13-95.83,45.4C3.43,111.24-8.14,47.45,13.09,18.65C28.74-2.58,58.08,0.83,63.2,1.43z";
  --notacircle500: "M119.45,16.64c134-61.73,368.44,57.18,380.09,210.55,11.92,156.88-211.66,318.33-360.86,261C20.79,442.84-28,269.62,16,144.91,24.13,121.7,49.86,48.68,119.45,16.64Z";
  --notacircle93: "M41.11,1.63C58.26-1.19,66,4,84.52,33.78c14.81,23.82,5.46,90-22.83,101.31-16.14,6.43-32.41,4.45-49.84-28C-14.42,58.17,17.07,5.57,41.11,1.63Z";
}

.frame {
    height: 140px;
    width: 140px;
    position: relative;
    clip-path: path(var(--notcircle));
}

.frame500 {
    height: 500px;
    width: 500px;
    position: relative;
    clip-path: path(var(--notacircle500));
}
.frame93 {
    height: 140px;
    width: 93px;
    position: relative;
    clip-path: path(var(--notacircle93));
}

.space-div{
  margin: 20px 10px;
}

/* Sizing of the text */

.header-big {
  font-size: 80px;
}

/* Carousel testimony */
.testimonial-slider {
  position: relative;
  overflow: hidden;
  margin: 0px auto 60px;
  padding: 0px;
  width: 100%;
}

.testimonial-slider .testimonial {
  display: none;
  position: relative;
  padding: 0px;
}

.testimonial-slider .testimonial:first-child {
  display: block;
}

.testimonial-slider .testimonial img {
  max-width: 100%;
  height: auto;
}

.testimonial-slider .testimonial h3 {
  font-size: 20px;
  color: #333333;
  margin-top: 10px;
}

.testimonial-slider .testimonial span.post {
  display: block;
  font-size: 14px;
  color: #999999;
}

.testimonial-slider .testimonial p.description {
  font-size: 14px;
  line-height: 22px;
  color: #666666;
}

.owl-carousel .owl-item img {
  max-width: 100%;
  height: auto;
}
.embed-responsive {
  position: relative;
}

.above{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
}     

.textover{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "lust", serif;
  font-weight: 700;
  font-style: normal;
  font-size: calc(45px + 2vw);
  color: #FF91F9;
  text-shadow: 2px 1px black;
}

.navtext{
  font-size: calc(25px + 2vw); 
  -webkit-text-stroke: 2px black;
  font-family: "lust-didone-fine", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: black;
}

.normaltext{
  font-family: "lust", serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  -webkit-text-stroke: 1px;
  color: #3F0FD1;
}

.normaltext2{
  font-family: "lust", serif;
  font-weight: 200;
  font-style: normal;  
  color: black;
  letter-spacing: 2px;
  -webkit-text-stroke: 1px;
}

.btn{
   text-shadow: 2px 1px black;  
}

.corporateheader{
  background-color: #3F0FD1;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;        
  background-color: #0093F5;
  color: white;
  text-align: center;
}

.footerhr {
  margin-bottom: 0px;
  color: black; 
}

.navtext:hover {
  color: black;
}


.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

ul {
  list-style-type: none;
}

.testimonial .pic img {
  border-radius: 8px;
}